$main-color: #118843;
$black: #333;

:root {
	font-size: 10px;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: $black;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: lightblue;
}

h1 {
	font-size: 3rem;
	color: $main-color;
}